/* Base styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1C1C1C;
    color: #F6FAFC;
}

/* Link styles */
a {
    color: #AAC4E4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul, ol, li {
    list-style-type: none; /* Remove bullets/numbers */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

/* Profile styles */
.profile-infos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C2C2C;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    text-align: center;
}

.profile-avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #AAC4E4;
    margin-bottom: 20px;
}

.profile-links {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.profile-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #AAC4E4;
}

.profile-link .icon {
    width: 40px;
    height: auto;
}

.profile-bio {
    max-width: 600px;
    line-height: 1.5;
}

/* Section titles */
.section-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #AAC4E4;
    text-align: center;
    margin-bottom: 20px;
}

/* Container styles for projects and certificates */
.projects-container, .certificates-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 40px;
}

/* Card styles for projects and certificates */
.project-card, .certificate-card {
    background-color: #2C2C2C;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    color: #AAC4E4;

}

.project-title, .certificate-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-description, .project-keyword, .project-key-skill, .certificate-description {
    font-size: 1em;
    margin-bottom: 10px;
}

.project-github-url {
    display: inline-block;
    background-color: #0055B7;
    border-radius: 8px;
    padding: 10px;
    color: #F6FAFC;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.project-github-url:hover {
    background-color: #AAC4E4;
    color: #1C1C1C;
}

/* Centered titles */
.centraliza-titulos {
    font-size: 1.5em;
    text-align: center;
    color: #AAC4E4;
    margin: 40px 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .projects-container, .certificates-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card, .certificate-card {
        width: 80%;
    }
}
