{% extends 'base.html' %}

{% block title %}
    Profile Details
{% endblock %}

{% block content %}
    <h1>Detalhes do Perfil</h1>
    <h2>{{ profile.name }}</h2>
    <a href="{{ profile.github }}">GitHub</a>
    <a href="{{ profile.linkedin }}">LinkedIn</a>
    <p>{{ profile.bio }}</p>
    <h2>Projetos</h2>
    <ul>
    {% for project in projects %}
        <li>
        {{ project.name }}
        {{ project.description }}
        <a href="{{ project.github_url }}">Github</a>
        {{ project.keyword }}
        {{ project.key_skill }}
        </li>
    {% endfor %}
    </ul>
    <h2>Certificados</h2>
    <ul>
    {% for certificate in certificates %}
        <li>
        {{ certificate.name }}
        {{ certificate.certifying_institution }}
        </li>
    {% endfor %}
{% endblock %}